:root {
  --main-color: #131112;
  --secondary-color: #60656F;
  --main-accent-color: #279AF1;
  --secondary-accent-color: #C49991;
  --main-compliment-color: #F7F7FF;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lobby-configuration {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.players-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.betting-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}
